<% if (page.copyright) {%>
<hr />
<em
	>Indhold siden er licenseret under
	<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a>,
	medmindre andet er nævnt.</em
>
<br />
<em
	>Dele af siden stammer fra artiklen
	<a href="https://niraham.fandom.com/da/wiki/<%=page.copyright%>"
		><%=page.copyright%></a
	>
	på <a href="https://niraham.fandom.com/da/wiki/">Niraham Wiki</a> hos
	<a href="https://www.fandom.com/">Fandom</a></em
>
<% } %>
