<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Bulk move</title>
	</head>
	<body>
		<div>
			<h1>Click on elements to add them to the list:</h1>
			<ul id="elements">
				<% for (let i = 0; i < pages.length; i++) { %>
				<li class="clickable" id="page.<%=pages[i]%>"><%= pages[i] %></li>
				<% } %>
			</ul>

			but
			<div id="right">
				<ul id="selectedElements"></ul>

				<br />
				To: ./pages/<input type="text" id="to" value="" />
				<button onclick="move()">Move</button>
			</div>
		</div>

		<script>
			// Add click event listener to elements
			const elements = document.querySelectorAll(".clickable");
			elements.forEach((element) => {
				element.addEventListener("click", () => {
					addToSelectedList(element);
				});
			});

			// Function to add element to the selected list
			function addToSelectedList(element) {
				const selectedList = document.getElementById("selectedElements");

				element.hasAttribute("selected")
					? element.removeAttribute("selected")
					: element.setAttribute("selected", true);

				if (element.hasAttribute("selected")) {
					const listItem = document.createElement("li");
					listItem.textContent = element.textContent;
					selectedList.appendChild(listItem);
				} else {
					const listItems = selectedList.querySelectorAll("li");
					listItems.forEach((listItem) => {
						if (listItem.textContent == element.textContent) {
							listItem.remove();
						}
					});
				}
			}

			function move() {
				let to = document.getElementById("to").value;
				const selectedList = document.getElementById("selectedElements");
				let listItems = selectedList.querySelectorAll("li");
				//convert listItems to text array
				listItems = Array.from(listItems).map(
					(listItem) => listItem.textContent
				);

				fetch("/bulkmove", {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
					},
					body: JSON.stringify({
						items: listItems,
						to,
					}),
				}).then((res) => {
					if (res.status === 200) {
						alert("Moved");
						selectedList.innerHTML = "";
						document.getElementById("elements").innerHTML = "";
						document.getElementById("to").value = "";
						res.json().then((data) => {
							data.pages.forEach((item) => {
								let option = document.createElement("li");
								option.value = item;
								option.id = "page." + item;
								option.innerHTML = item;
								document.getElementById("elements").appendChild(option);
							});
						});
					} else {
						alert("Error");
					}
				});
			}
		</script>

		<style>
			.clickable {
				cursor: pointer;
			}
			.clickable:hover {
				background-color: #ccc;
			}

			#right {
				background-color: #ccc;
				padding: 1rem;
				position: fixed;
				top: 0;
				right: 0;
				overflow-y: scroll;
			}
		</style>
	</body>
</html>
<!-- END: abpxx6d04wxr -->
