<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/vite.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Valbyparkens Niraham Wiki</title>
	</head>
	<body>
		<h1>404</h1>
		<p>Denne side findes ikke.</p>
		<a href="/">Gå til forsiden</a>
	</body>
</html>
