<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/vite.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Valbyparkens Niraham Wiki</title>
	</head>
	<body>
		<!--%- include('../partials/header') %-->
		Velkommen til Valbyparkens Niraham Wiki. Dette er en fortsættelse af Niraham
		Wiki, som findes
		<a href="https://niraham.fandom.com/da/wiki/Forside">her</a>. Det betyder
		også at meget af indholdet er taget derfra. Alt på wikien er licenseret
		under
		<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.da"
			>CC BY-SA 4.0</a
		>.

		<h1>Hvor starter jeg?</h1>
		Du kan enten søge efter en side i søgefeltet, eller du kan kigge under en af
		kategorierne her:

		<!--====Folk og racer i Niraham====

*&apos;&apos;&apos;[[Racer]]&apos;&apos;&apos; - Alle Nirahams racer fra [[menneske]]r til [[monster|monstre]].
*&apos;&apos;&apos;[[Organisationer]]&apos;&apos;&apos; - Lige fra kirkernes inkvisitioner til de skjulte tyvelav.
*&apos;&apos;&apos;[[Guddomme]]&apos;&apos;&apos; - Både de levende, de døde og de forsvundne.
*&apos;&apos;&apos;[[Folkeslag]]&apos;&apos;&apos; - Fra [[norrlænding]]ene og [[plener]]ne i nord og vest til [[zarabiner]]ne og [[elver]]ne i syd og øst.

====Niraham====

*&apos;&apos;&apos;[[Geografi]]&apos;&apos;&apos; - Nirahams byer, riger og andet.
*&apos;&apos;&apos;[[Flora]]&apos;&apos;&apos; - Nirahams planteliv.
*&apos;&apos;&apos;[[Fauna]]&apos;&apos;&apos; - Nirahams dyreliv.
*&apos;&apos;&apos;[[Historie]]&apos;&apos;&apos; - Fra [[de Fire Første guder]]s opståen til i dag.
*&apos;&apos;&apos;[[Magi]]&apos;&apos;&apos; - De forskellige kasterklasser i Niraham og deres kræfters oprindelse.
*&apos;&apos;&apos;[[Legender]]&apos;&apos;&apos; - Nirahams sagn og historier.</text>-->
		<a href="./wiki/Racer.html">Racer</a> - Alle Nirahams racer fra
		<a href="./wiki/menneske.html">mennesker</a> til
		<a href="./wiki/monster.html">monstre</a>.
		<!--%- include('../partials/footer') %-->
	</body>
</html>
